{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<!-- ALERT MESSAGE -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show"
        role="alert"
        data-alert="{{ message }}">
        <span class="alert-text">{{ message }}</span>

        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<head>
  <style>
    body{
        background: url('/static/bg.jpg') no-repeat center center fixed;
        background-size: cover;
    }
  </style>

</head>
<h3 class="mb-3">Dashboard</h3>

<div class="row">
    <div class="col-md-4">
        <div class="card shadow-sm text-center p-3">
            <h5 id="totalCustomersText">Total Customers</h5>
            <h1 class="text-primary">{{ total_customers }}</h1>
        </div>
    </div>
</div>

{% endblock %}
